/* Reset default margin and padding */
* {
    margin: 0;
    padding: 5px 0;
    box-sizing: border-box;
}

/* Body and HTML settings */
body, html {
    width: 100%;
    background-color: black;
    color: white; 
    font-family: Arial, sans-serif;
    cursor: default;
}

/* Header styles */
.banner1 {
    margin: auto;
    padding: auto;
    
    text-align: center;
    width: 300px;
    border: 2px dashed rgba(255, 0, 0, 0.349);
    border-radius: 30px;
    
}

.banner1 h1 {
    font-family: Monospace;
    font-size: 45px;
}




/* Content styles */
.content {
    padding: 15px;
    max-width: 1000px; /* Max width for larger screens */
    margin: 0 auto; /* Center the content */
}

/* Paragraph styles */
.content p {
    margin: 20px 0;
    line-height: 1.4; /* Improve readability */
}

/* Image styles */
.photo {
    width: 100%; /* Responsive images */
    height: auto; /* Maintain aspect ratio */
    margin: 10px 0; /* Spacing around images */
}
footer{
    background-color: grey;
}
.num{
    cursor: pointer;
    user-select: all;

}

body button{
    display: block;
    margin: 50px auto auto 5px;
    padding: 20px 20px;
    background-color: #007bff;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: larger;
}